.product {
  width: 100%;
  height:100%;
  border: 1px solid seagreen;
  position: relative;
}
.product-img {
  padding: 8px;
  height: 55%;
}
.product-img img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.product-info {
  height: 45%;
  margin: 0px 14px;
}
.product-price {
  margin-bottom: 40px;
}
.product-manufacturer {
  margin-bottom: 7px;
}
.product-rating{

    
}
.btn-cart {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 8%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
 
}
.btn-cart:hover{

    background-color: orange;
    font-weight: 500;

}
